body {
  margin: 0;
}

button {
  background-color: brown;
  border: 1px solid orange;
  width: 150px;
  height: 50px;
  color: white;
  font-size: 0.7em;
  cursor: pointer;
}

button:hover {
  border: 1px dotted orange; 
}

button:disabled {
  background-color: darkgrey; 
  border: 1px solid white;
}

p {
  color: white;
}

input {
  background-color: white;
  border: 1px solid orange;
  width: 200px;
  height: 50px;
  color: black;
  font-size: 1.7em;
  text-align: center;
}

a {
  color: limegreen;
}

.hidden {
  display: none;
}

#game-parent {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: black;
}

#game-container {
  position: relative;

  transform-origin: 0% 0%;
  -webkit-transform-origin: 0% 0%;
  -ms-transform-origin: 0% 0%;

  font-family: Arial;
  font-size: 20px;
  color: limegreen;

  text-align: center;

  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

#html-layer {
  position: absolute;
  top: 0;
  left: 0;
}

#pixi-canvas {
  position: absolute;
  top: 0;
  left: 0;  
}

#html-layer {
  pointer-events: none;
}

#sections > * {
  display: none;

  position: absolute;
  top: 0;
  left: 0;
  width: 960px;
  height: 540px;
}

#fullscreen-button {
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 2em;
}

#html-layer input, 
#html-layer button, 
#html-layer label, 
#html-layer a, 
#html-layer select,
#html-layer #fullscreen-button {
  pointer-events: auto;
}

#html-layer.no-pointer-events input, 
#html-layer.no-pointer-events button, 
#html-layer.no-pointer-events label, 
#html-layer.no-pointer-events a, 
#html-layer.no-pointer-events select,
#html-layer.no-pointer-events #fullscreen-button 
{
  pointer-events: none;
}

#add-shape {
  position: absolute;
  top: 10px;
  left: 405px;
}

#done-adding {
  position: absolute;
  top: 420px;
  right: 10px;
}

#gallery-instructions {
  position: absolute;
  top: -5px;
  width: 100%;
}

#done-selection {
  position: absolute;
  left: 400px;
  bottom: 10px;
}

.bottom-text {
  position: absolute;
  bottom: 20px;
  text-align: center;
  width: 100%;
}

#practice-title {
  font-size: 1.5em;
}

#done-training-1 {
  margin-left: auto;
  margin-right: auto;
}

.highlight {
  color: limegreen;
}

.vertical-align {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.code {
  font-size: 2em;
  text-align: center;
  letter-spacing: 0.7em;
  font-family: monospace;
  color: white;
}

#modal-confirm-done {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  pointer-events: all;
}

#modal-confirm-box {
  position: absolute;
  width: 320px;
  height: 110px;
  top: 25%;
  left: 25%;
  padding: 57px;
  
  background-color: white;
}

#modal-confirm-box p {
  color: black;
}

#modal-confirm-cancel-button {
  font-size: 0.7em;
  margin-top: -5px;
  width: 150px;
  background-color: grey;
  color: white;
}

#end-early-message {
  text-align: right;
  margin-right: 10px;
  margin-top: 450px;
  color: orange;
}

#previous-page-button {
  position: absolute;
  bottom:10px;
  left: 30px;
}

#next-page-button {
  position: absolute;
  bottom:10px;
  right: 40px;
}

#thanks-block {
  height: 540px;
}

#stuck-message {
  background-color: rgba(0, 0, 0, 0.8);
  color: orange;
  font-size: xx-large;
}

#continue-message {
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  font-size: xx-large;
}


#redmetrics-connection-status {
  position: absolute;
  text-align: left;
  width: 960px;
  height: 540px;
  left: 10px;
  top: 510px;
  font-size: small;
}

#redmetrics-connection-status-connecting {
  color: grey;
}

#redmetrics-connection-status-connected {
  display: none;
  color: limegreen;
}

#redmetrics-connection-status-disconnected {
  display: none;
  color: brown;
}

